@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&family=Roboto:wght@100;300;400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: ghostwhite;
}

.container {
    text-align: center;
}

.progressContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;
    max-width: 100%;
    width: 350px;

}

.progressContainer::before {
    content: '';
    background-color: rgba(186, 184, 184, 0.893);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.5s ease;
}

.circle {
    background-color: white;
    color: lightgrey;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(186, 184, 184, 0.893);
    transition: 0.5s ease;
}

.circle.active {
    border-color: #3498db;
}

.btn {
    background-color: #3498db;
    color: ghostwhite;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 15px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: rgba(186, 184, 184, 0.893);
    cursor: not-allowed;
}